body{
    background-image: url('../Images/tiger.jpg');
    background-repeat: no-repeat;
    background-position: top right;
}
.container{
    padding-right: 240px;
}
.tree-img{
    position: relative;
    top: 120px;
}
.second-container{
    padding-left: 340px;
}